body {
  background-color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-container > div {
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  width: 100px;
  grid-row: 1 / span 2;
}

.container {
  background-color: rgb(202, 145, 255);
  width: 80%;
}

p {
  padding: 10px;
  text-align: justify;
  width: 50%;
  color: white;
  font-size: medium;
}

img {
  border-radius: 50%;
  margin-left: 200px;
}

.name {
  color: aliceblue;
  font-size: 30px;
}

.title-atas {
  background-color: rgb(206, 22, 227);
  color: white;
}
